.list_product {
  .card_product_main {
    display: grid;
    grid-template-rows: 1fr 1fr;
    // max-height: 500px;
    margin: 20px 10px;
    width: 300px;
    box-shadow: 0 0 5px lightgrey;

    .image_box {
      display: flex;
      justify-content: center;
      align-items: center;
      // @include bg-gradients;
      background-color: white;
      height: fit-content;
      max-height: 400px;
      position: relative;
      overflow: hidden;
      cursor: pointer;

      img {
        max-height: 400px;
        max-width: 100%;
        transition: all 0.3s;
      }
    }

    &:hover img {
      transform: scale(1.1);
    }

    .body {
      padding: 15px;
      background-color: #fbf5c7;

      h5 {
        text-transform: capitalize;
      }
    }
  }

  .button {
    display: inline-block;
    padding: 0.5em 1em;
    cursor: pointer;
  }

  .button:active,
  .button.is-checked {
    background: $bg-default-3;
    outline: none;
  }

  .button-group {
    margin: 20px 0;
    text-align: center;

    button {
      margin: 5px;
    }
  }

  .button-group:after {
    content: "";
    display: block;
    clear: both;
  }

  @media (max-width: 479px) {
    .button-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  img {
    vertical-align: middle;
  }

  .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .grid article {
    background-color: #ffffff;
    display: block;
    float: left;
    margin: 1%;
    width: 23%;
  }

  @media (max-width: 1024px) {
    .grid article {
      width: 31.3%;
    }
  }

  @media (max-width: 767px) {
    .grid article {
      width: 48%;
    }
  }

  @media (max-width: 479px) {
    .grid article {
      margin: 2% 0;
      width: 100%;
    }
  }
}
