.nav_bar {
    .content_menu {
        padding: 15px;
    }
    .box_image {
        max-width: 100%;
        margin-right: 15px;
        img {
            max-width: 100%;
        }
    }
    .list {
        display: flex;
        flex-direction: column;
    }
    @media screen and(max-width: 993px) {
        .content_menu {
            display: flex;
            margin-bottom: 20px;
        }
    }
}