.product_details {
    .box_image {
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 2px solid rgba(255, 255, 255, 0.719);

        img {
            max-height: 50vh;
            transition: all .3s;
        }

        &:hover img {
            transform: scale(1.1) translateY(-10px);
        }
    }

    @media (max-width: 767px) {
        .box_image {
            border-bottom: 2px solid rgba(255, 255, 255, 0.719);
            border-right: none;
            padding-bottom: 15px;
        }
    }
}