@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600');

body {
  background: #ffffff;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}


/*---------------------------------------
   TYPOGRAPHY              
-----------------------------------------*/

h1,h2,h3,h4,h5,h6 {
  font-weight: 300;
  line-height: inherit;
  letter-spacing: -1px;
}

h1 {
  color: #292929;
  font-size: 3em;
  margin-bottom: 30px;
}

h2 {
  color: #393939;
  font-size: 2em;
}

h3 {
  color: #505050;
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 0;
}

h4 {
  color: #696969;
  font-size: 18px;
  line-height: normal;
}

p {
  color: #757575;
  font-size: 14px;
  font-weight: normal;
  line-height: 25px;
}

strong {
  font-weight: 500;
}


/*---------------------------------------
   GENERAL               
-----------------------------------------*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #252525;
  font-weight: normal;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}

a:hover, a:active, a:focus {
  color: #ce3232;
  outline: none;
}